#carousel {
  position: absolute;
  height: 200px;
  width: 810px;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.arrow {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: white;
  text-align: center;
  font-size: 25px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  color: #228291;
  line-height: 30px;
  margin-top: 85px;
  z-index: 1000;
}
.arrowleft {
  left: 0px;
}

.arrowright {
  left: 780px;
}

.item {
  text-align: center;
  color: white;
  font-size: 40px;
  position: absolute;
  transition: height 1s, width 1s, left 1s, margin-top 1s, line-height 1s,
    background-color 1s;
}

$level1-height: 180px;
$level1-width: 130px;
$level0-height: 200px;
$level0-width: 150px;

$level-1-left: 500px;
$level0-left: 330px;
$level1-left: 180px;

.level1 {
  height: $level1-height;
  width: $level1-width;
  line-height: $level1-height;
  background-color: #6796e5;
  left: $level-1-left;
  margin-top: 10px;
}

.level0 {
  height: $level0-height;
  width: $level0-width;
  line-height: $level0-height;
  background-color: #4ec9e1;
  left: $level0-left;
}

.levelm1 {
  height: $level1-height;
  width: $level1-width;
  line-height: $level1-height;
  background-color: #6796e5;
  margin-top: 10px;
  left: $level1-left;
}

.leftenter {
  opacity: 0;
  left: $level1-left - $level1-width;
  height: $level1-height - 30;
  width: $level1-width - 20;
  line-height: $level1-height - 30;
  margin-top: 40px;
}

.leftenter.leftenteractive {
  opacity: 1;
  left: $level1-left;
  height: $level1-height;
  width: $level1-width;
  line-height: $level1-height;
  margin-top: 25px;
  transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s,
    line-height 1s;
}

.leftleave {
  opacity: 1;
  left: $level-1-left;
  height: $level1-height;
  width: $level1-width;
  line-height: $level1-height;
  margin-top: 25px;
}

.leftleave.leftleaveactive {
  left: $level-1-left + $level1-width + 20;
  opacity: 0;
  height: $level1-height - 30;
  line-height: 120px;
  margin-top: 40px;
  width: $level1-width - 20;
  transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s,
    line-height 1s;
}

.rightenter {
  opacity: 0;
  left: $level-1-left + $level1-width;
  height: $level1-height - 30;
  width: $level1-width - 20;
  line-height: $level1-height - 30;
  margin-top: 40px;
}

.rightenter.rightenteractive {
  left: $level-1-left;
  opacity: 1;
  height: $level1-height;
  margin-top: 25px;
  line-height: $level1-height;
  width: $level1-width;
  transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s,
    line-height 1s;
}

.rightleave {
  left: $level1-left;
  height: $level1-height;
  opacity: 1;
  margin-top: 25px;
  line-height: $level1-height;
  width: $level1-width;
}

.rightleave.rightleaveactive {
  left: $level1-left - $level1-width;
  opacity: 0;
  height: $level1-height - 30;
  width: $level1-width - 20;
  line-height: $level1-height - 30;
  margin-top: 40px;
  transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s,
    line-height 1s;
}

.noselect {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
